[gcode_macro _TEST1]
gcode:
    #{action_respond_info("TEST1")}
#    {% if printer["gcode_macro HOME_AND_LEVEL"].levelled|int == 0 %}
#        SET_GCODE_VARIABLE MACRO=HOME_AND_LEVEL VARIABLE=levelled VALUE=1
#        #HOME_AND_LEVEL PREHEAT=1
#    {% endif %}
#    {action_respond_info("TEST: %.1f" % (printer["gcode_macro HOME_AND_LEVEL"].levelled))}

# Example of checking for homed / QCL / Mesh
# {% if printer.toolhead.homed_axes != 'xyz' or printer.quad_gantry_level.applied == False or printer.bed_mesh.profile_name != 'default' %}
    #{action_respond_info("TEST:AA %s AA" % (printer.bed_mesh.profile_name))}
    {action_respond_info("TEST: %.1f" % printer.heater_bed.target|float|round(0))}

    #SET_GCODE_VARIABLE MACRO=G32 VARIABLE=meshbedtemp VALUE="{printer.heater_bed.temperature|float|round(0)}"

[gcode_macro _TEST2]
gcode:
    {% if params.MESH_MIN is not defined or params.MESH_MAX is not defined or params.ALGORITHM is not defined or params.PROBE_COUNT is not defined %}
        # Default calibrate the whole bed
        {action_respond_info("Running bed mesh default calibration")}
        BED_MESH_CALIBRATE
    {% else %}
        # Probe just the area defined by orcaslicer
        {action_respond_info("Running bed mesh orcaslicer calibration")}
        BED_MESH_CALIBRATE MESH_MIN="{params.MESH_MIN}" MESH_MAX="{params.MESH_MAX}" ALGORITHM="{params.ALGORITHM}" PROBE_COUNT="{params.PROBE_COUNT}" ADAPTIVE=0 ADAPTIVE_MARGIN=0
        #RESPOND TYPE=error MSG="{params.MESH_MIN}"
        #{action_respond_info("TEST: %.s" % params.MESH_MIN)}
    {% endif %}

# Dump all variables
[gcode_macro _DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}
